<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit user</title>
</head>
<body>
    <form method="post" action="/users/<%=user.id %>?_method=PATCH">
        <input type="text" name="username" id="" value="<%=user.username  %>"> <br> <br>
        <button>change</button>
    </form>
</body>
</html>